<%=render "matrix"%>

<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <div class="dotted">
	  <div class="field-frame">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</div>
  <div class="field-frame">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field-frame">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
</div>
</div>
<div>
  <div class="field-frame">
    <%= f.label :info %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field-frame-2">
    <%= f.label :days %><br />
    <%= select_tag :days , options_for_select( (1..5) ) %><br />
  </div>
  <div> 
    <%= hidden_field :booking , :room %>
    <%= hidden_field :booking , :arriving %>
  </div>
  <div class="field-frame"><br />
    <%= f.submit %>
  </div>
  </div>
  </div>
<% end %>
