<table class=book-month>
  <tr>
    <td width=58px>  </td>
	<td> <a href="new?start=<%=start - 30.day%>"> month </a> <%= image_tag "arrow-2.gif" %> </td>
    <td> <a href="new?start=<%=start - 7.day%>"> week </a> <%= image_tag "arrow-2.gif" %> </td>
    <td> <%=start%> <%= image_tag "line.gif" %>  <%=start + 10.day%></td>
    <td> <a href="new?start=<%=start + 7.day%>"> week </a> <%= image_tag "arrow.gif" %> </td>
    <td> <a href="new?start=<%=start + 30.day%>"> month </a> <%= image_tag "arrow.gif" %> </td>
  </tr>
</tr>
<table class=book>
  <thead>
    <th> </th>
    <% days.each do |day| %>
    <th>
		noin
<!-- 
      <%= day %>
	-->
    </th>
    <%end%>
  </thead>
  
  <tbody>
    <% rooms.each do |room| %>
    <tr>
      <td class=book-room>
        <%= room %>
      </td>
      <% days.each do |day| %>
      <th class=book-cell>
        <%==div(room,day)%>
        <% if room_free(room,day) %>
        <a href="#">
          <%= image_tag "ok.jpg"  , :height => "34px" , :width => "70px" %>
          </a>
        <%else%>
          <%= image_tag "not.jpg"  , :height => "34px" , :width => "70px"%>
        <%end%>
      </th>
      <%end%>
    </tr>
    <%end%>
	</tbody>
</table>

<div>
<div id="room"> Choose </div>
<div id="arriving"> date </div>
</div>