 <%== t('booking.booking')%> <br/>
 
 <% if flash[:errors] %>
 <br/>
   <div class="flash errors">
     <%== t('booking.error')%> <br/>
   <% flash[:errors].each do |field , message| %>
      <%= t("booking.#{field}") %> <%= message %><br/>
   <%end%>
    </div>
 <% end %>
<form action="booking.html" method="post"> 

<table border="0px" cellpadding="8" cellspacing="8" width="100%"> 
  <tr>

    <td colspan=2><label for="nights"><%= t('booking.nights')%></label>:</td> 
    <td colspan=2>
    
      <select class='nights' name="booking[nights]"> 
        <% ["1"  , "2" , "3" , "4" , "5" , "6" , "7"].each do |ni| %>
        <option <%=='selected="selected"' if @booking.leaving == @booking.arriving + ni.to_i.day %>><%=ni%></option> 
        <%end%>
        <option><%= t('booking.call')%></option>
      </select>
    </td> 
    <td colspan=2><label for="arriving"><%= t('booking.arriving')%></label>:</td> 
    <td colspan=2><input type="text" id="arriving" name="booking[arriving]" size="35" value="<%=@booking.arriving%>" /></td> 
  </tr>
  <tr id="rooms_day">
    <%= render :template => "bookings/rooms_day"  %>
  </tr>

  <tr> 
    <td colspan=2>  <label for="name"><%= t('booking.name')%></label>:</td> 
    <td colspan=2>  <input type="text" name="booking[name]" size="35"   value="<%=@booking.name%>"  /></td> 
    <td colspan=2><label for="email"><%= t('booking.email')%></label>:</td> 
    <td colspan=2><input type="text" name="booking[email]" size="35" value="<%=@booking.email%>" /></td> 
  </tr> 
  <tr> 
    <td colspan=2><label for="phone"><%= t('booking.phone')%></label>:</td> 
    <td colspan=2><input type="text" name="booking[phone]" size="35" value="<%=@booking.phone%>" /> </td> 
    <td colspan=2> <label for="comment"><%= t('booking.comment')%></label><br /> </td> 
    <td colspan=2> <textarea rows="2" cols="35" name="booking[comment]" ><%=@booking.comment%></textarea> </td> 
    <input type="hidden" name="booking[room]" value="none" id="room"  value="<%=params[:room]%>">
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="submit" value="<%=t('booking.submit')%>" /></td> 
    <td colspan="6">  </td> 
  </tr> 
</table> 
</form> 

<%== t('booking.confirmation')%> <br/> <br/> 
 
<%== t('booking.pay')%>


<!-- Google Code for book Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1061735831;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "6IfrCOWd_gEQl5uj-gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1061735831/?label=6IfrCOWd_gEQl5uj-gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

