- if flash.notice
  .flash.notice= flash.notice
= raw t('booking.received')
%br
%br
%br= t("booking.name") + " : " + @booking.name
%br= t("booking.email") + " : " + @booking.email
%br= t("booking.phone") + " : " + @booking.phone
%br= t("booking.room")+ " : " + @booking.room.capitalize
%br= t("booking.arriving") + " : " + @booking.arriving.to_s
%br= t("booking.nights") + " : " + @booking.nights.to_s
%br= t("booking.comment") + " : " + @booking.comment

%br
%br/
= raw t('booking.confirmation')
%br/
%br/
= raw t('booking.pay')
%br/
%br/
