<% if flash.notice %>
  <div class="flash notice"><%= flash.notice %></div>
<% end %>

<%== t('booking.received')%> <br/><br/> 

<%== t('booking.confirmation')%> <br/> <br/> 
 
<%== t('booking.pay')%>

<br/> <br/> <br/> 
<%== t('booking.payson')%>
<br/> 
<a href="https://www.payson.fi/SendMoney/?De=Standard+%2f+Delux&Se=info%40villataika.fi&Cost=80%2c00&Currency=EUR&&Sp=1" title="Payson internetbetalningar" style="width: 170px; height: 55px; background: url('https://www.payson.se/sites/all/files/images/external/PayBtn_BgImg_Clean.png') no-repeat scroll 0% 0% transparent; display: block; text-indent: 45px; padding-top: 15px; text-decoration: none; font-size: 13px; font-family: Arial; font-weight: bold; color: #00245D;"> <%=t("booking.pay_button")%> 75 &euro;</a>

<a href="https://www.payson.fi/SendMoney/?De=Suite&Se=info%40villataika.fi&Cost=95%2c00&Currency=EUR&&Sp=1" title="Payson internetbetalningar" style="width: 170px; height: 55px; background: url('https://www.payson.se/sites/all/files/images/external/PayBtn_BgImg_Clean.png') no-repeat scroll 0% 0% transparent; display: block; text-indent: 45px; padding-top: 15px; text-decoration: none; font-size: 13px; font-family: Arial; font-weight: bold; color: #00245D;"><%=t("booking.pay_button")%> 90 &euro;</a>



