<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Arriving</th>
    <th>Name</th>
    <th>Street</th>
    <th>Town</th>
    <th>Phone</th>
    <th>Leaving</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.email %></td>
    <td><%= booking.arriving %></td>
    <td><%= booking.name %></td>
    <td><%= booking.street %></td>
    <td><%= booking.town %></td>
    <td><%= booking.phone %></td>
    <td><%= booking.leaving %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
