= t("booking.name")
\: #{@booking.name}
\#{t("booking.email")} : #{@booking.email}
\#{t("booking.phone")} : #{@booking.phone}
\#{t("booking.room")} : #{@booking.room}
\#{t("booking.arriving")} : #{@booking.arriving}
\#{t("booking.nights")} : #{@booking.leaving}
\#{t("booking.comment")} : #{@booking.comment}
