= t("booking.name") + " : " + @booking.name
= t("booking.email") + " : " + @booking.email
= t("booking.phone") + " : " + @booking.phone
= t("booking.room")+ " : " + @booking.room.name.capitalize
= t("booking.arriving") + " : " + @booking.arriving.to_s
= t("booking.nights") + " : " + @booking.nights.to_s
= t("booking.comment") + " : " + @booking.comment
