<% activities.each_with_index do |activity , index| %>

<div class="activity_box">
  <div class="box_inner">
      <a href="/activities/large/<%=activity%>.jpg" rel="lightbox[activity]" title="<%= t(".#{activity}.short")%>">
	    <h2> <%= t(".#{activity}.short")%> </h2>
        <img src="/activities/<%=activity%>.jpg" >
        </a>
    <%=raw t(".#{activity}.rest")%>
  </div>
</div>
<%=raw "<div class='line'> &nbsp;</div>" if (index.modulo(2)) != 0 %>
<%end%>
