<% activities.each_with_index do |activity , index| %>

<div class="activitybox">
  <div class="boxinner">
      <a href="/activities/large/<%=activity%>.jpg" class="lightbox" title="<%= t(".#{activity}.short")%>">
	    <h2> <%= t(".#{activity}.short")%> </h2>
        <img src="/activities/<%=activity%>.jpg" alt="<%= t(".#{activity}.short")%>"/>
        </a>
    <%=raw t(".#{activity}.rest")%>
  </div>
</div>
<%=raw "<div class='line'> &nbsp;</div>" if (index.modulo(2)) != 0 %>
<%end%>
