<div class="wide_bed_box">
  <div class="bed_box">
      <%=raw t("bed.one")%>
  </div>
</div>
<div class="divider"></div>

<div class="wide_box">
    <br/>
  <div class="small_box">
    <%= link_to  "/#{@locale}/suites.html" do  %>
      <%= t("suites.short") %> 
      <img src="/images/sun_small.jpg"  
          alt=<%=t('suites')%>  
          height=187px  width=250px />
          <%end%>
    <br/>
    <%=t('bed.suites')%>
  </div>
  <div class="small_box">
    <%= link_to "/#{@locale}/deluxe.html" do %>
    <%= t("deluxe.short") %> 
      <img src="/images/orange_small.jpg"  
          alt=<%=t('deluxe')%>  
          height=187px  width=250px />
          <%end%>
    <br/>
    <%=t('bed.deluxe')%>
  </div>
  <div class="small_box">
    <%= link_to "/#{@locale}/standard.html" do %>
    <%= t("standard.short") %> 
      <img src="/images/rose_small.jpg"  
          alt="<%=t('standard')%>"  
          height=187px  width=250px />
          <%end%>
    <br/>
    <%=t('bed.standard')%>
  </div>
</div>
<br/>
<div class="wide_bed_box">
  <div class="bed_box">
      <%=raw t("bed.two")%>
  </div>
  
</div>
<div class="divider"></div>
