.wide_bedbox
  = raw t("bed.one")
.widebox
  .bedbox
    = link_to  "/#{@locale}/suites.html" do
      = t("suites.short")
      = image_tag "/images/sun_small.jpg", :alt => t('suites.short'), :width => "90%"
    %br/
    %br/
    = t('bed.suites')
  .bedbox
    = link_to "/#{@locale}/deluxe.html" do
      = t("deluxe.short")
      = image_tag "/images/orange_small.jpg", :alt => t('deluxe.short'), :width => "90%"
    %br/
    %br/
    = t('bed.deluxe')
  .bedbox
    = link_to "/#{@locale}/standard.html" do
      = t("standard.short")
      = image_tag "/images/rose_small.jpg", :alt => t('standard.short'), :width => "90%"
    %br/
    %br/
    = t('bed.standard')
%br/
.wide_bedbox
  = raw t("bed.two")
.divider
