.left
  = image_tag "/images/sali.gif"  , :width => "100%"
.left2
  .left_img
    = image_tag "/images/allas.jpg"  , :width => "100%" , :alt => "allas"
    = image_tag "/images/blank.gif"  ,:height => "4px", :alt => "blank"
    = image_tag "/images/garden_group.jpg"  , :width => "100%" , :alt => "garden"
  .left_list
    = raw t "groups.right"
.divider
.widebox
  %br/
  = raw t "groups.bottom"
