%table{ :cellspacing => "0", :border => "0", :align => "center", :width => "804", :cellpadding => "0" }
  %tbody
    %tr{ :height => "155px" }
      %td{ :rowspan => "3", :colspan => "1" , :style => "text-align: left;vertical-align: top;" }
        %a{ :href => "/#{@lang}/huone/aurinko.html" }
          %img{ :src => "/kuvat/aurinko.jpg", :border => "0", :height => "414", :valign => "top", :alt => "#{t('aurinko.short')}", :width => "312" }
        %a{ :href => "/#{@lang}/huone/aurinko.html" }
      %td{ :rowspan => "2", :style => "text-align: center;vertical-align: top;", :colspan => "1" }
        %div{ :style => "margin-left: 15px;" }
          %a{ :href => "/#{@lang}/huone/lootus.html" }
            %img{ :src => "/kuvat/lootus.jpg", :border => "0", :height => "310", :alt => "#{t('lootus.short')}", :width => "246" }
      %td{ :style => "text-align: right;vertical-align: top;" }
        %img{ :src => "/kuvat/kukka.jpg", :height => "147", :alt => "", :width => "197" }
    %tr{ :height => "155px" }
      %td{ :style => "text-align: right;vertical-align: bottom;" }
        %img{ :src => "/kuvat/talo.jpg", :height => "139", :alt => "", :width => "197" }
    %tr
      %td{ :rowspan => "1", :colspan => "2" }
        %div{ :style => "margin-left: 15px;font-family: Georgia,Times New Roman,serif; color: rgb(0, 132, 149); font-weight: bold; font-size: 16px;" }
          %em
            =t 'index.mainos'
        %div{ :style => "margin-left: 15px;margin-top: 10px;" }
          %strong
            Villa Taika
          =t 'index.missa'
    %tr
      %td
      %td
      %td
%br
