.lotus
  =link_to "/#{@locale}/suites.html" do
    = image_tag "/images/aurinko.jpg" , :alt => "Aurinko sviitti", :border => "0", :width => "100%", :valign => "top"
.aurinko_box
  .aurinko_pic
    = link_to "/#{@locale}/suites.html" do
      = image_tag "/images/lootus_1.jpg" ,  :alt => "Lootus sviitti", :border => "0", :width => "100%"
  .aurinko_extra
    .top
      = image_tag  "/images/kukka.jpg" , :alt => "", :width => "100%"
    .bottom
      = image_tag "/images/talo.jpg" , :alt => "", :width => "100%"
  .aurinko_maintext
    = t("index.bold")
  .aurinko_subtext
    %strong Villa Taika
    = t("index.text")
.fb-like{"data-action" => "like", "data-href" => "https://facebook.com/villa.Taika", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "800"}
