<% news.each do |ne| %>
<div class="newsbox">
  <div class="box_inner">
    <% unless t(".#{ne}.image").index("missing") %>
      <div class="captioned_image">
        <a href="/news/large/<%=t(".#{ne}.image")%>.jpg" rel="lightbox" title="<%= t(".#{ne}.short")%>">
          <img src="/news/<%=t(".#{ne}.image")%>.jpg" height=100>
        </a>
      </div>
    <%end%>
    <h2> <%= t(".#{ne}.short")%> </h2>
    <%=raw t(".#{ne}.rest")%>
  </div>
</div>
<%=raw "<div class='line'> &nbsp;</div>"  %>
<%end%>


