<% photos.each do |photo| %>
<div class="photo_box">
  <div class="eiole">
    <a href="/photos/large/<%=photo%>.jpg" rel="lightbox[photos]" title="<%=t "."+photo%>">
      <img src="/photos/<%=photo%>.jpg" width="250" >
    </a>
    <%=t "."+photo%>
  </div>
</div>
<%end%>

<%= 
%>
