<% photos.each do |photo| %>
<div class="photo_box">
  <div class="eiole">
    <a href="/photos/large/<%=photo%>.jpg" rel="lightbox[photos]" title="<%=photo.humanize%>">
      <img src="/photos/<%=photo%>.jpg" >
    </a>
    <%=photo.humanize%>
  </div>
</div>
<%end%>

<%= 
%>
