<% ["rose","sky"].each do |room| %>
  <div class="box">
    <div class="box_inner">
      <div class="captioned_image">
        <a href="/images/<%=room%>.jpg" rel="lightbox[standard]" title="<%=t(room+".short")%>">
          <img src="/images/<%=room%>_small.jpg" >
        </a>
      </div>
      <h2> <%= t("#{room}.short")%> </h2>
      <%=raw t("#{room}.full")%>
    </div>
  </div>
<%end%>