- ["rose","sky"].each do |room|
  .box
    .boxinner
      .captionedimage
        %a.lightbox{:href => "/images/#{room}.jpg", :title => t(room+".short")}
          %img{:src => "/images/#{room}_small.jpg"}/
      %h2
        = t("#{room}.short")
      = raw t("#{room}.full")
