<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="/javascripts/lightbox.js"></script>
  <link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />
  
  <meta name="keywords" content="Bed&breakfast Fiskars Suite" />
  <meta name="description" content=" " />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Villa Taika Bed & Breakfast</title>
</head>

<body>

<div id="main">

  <div id="header">
      <div class="centre">
      <img src="/kuvat/logo_iso.png">
      </div>
      <div id="slogan"><%=t("slogan")%></div>
  </div>

  <div id="lcol">
    <div id="menu">
      <ul>
        <li><%= link_to  t('index.short') , "/#{@locale}/index.html" %><span>&nbsp;</span></li>
        <li><%= link_to  t('bed.short') , "/#{@locale}/bed.html" %><span>&nbsp;</span></li>
        <li><%= link_to  t('groups.short') , "/#{@locale}/groups.html" %><span></span></li>
        <li><%= link_to  t('map.short') , "/#{@locale}/map.html" %><span></span></li>
        <li><%= link_to  t('photos.short') , "/#{@locale}/photos.html" %><span></span></li>
<!--        <li><a href="#">kuvagalleria<span></span></a></li>
        <li><a href="#">Aktivities<span></span></a></li>
    -->  </ul>
    </div>
    <div id="menu_end"></div>
    <div id="lcontent">
      <h3 class="first"> 
        <a href="/<%=@locale%>/rooms.html">
          <span>Huoneet</span>
        </a>
      </h3>
      <ul class="divided">
        <li><%= link_to  t("suites") , "/#{@locale}/suites.html" %></li>
        <li><%= link_to  t("deluxe") , "/#{@locale}/deluxe.html" %></li>
        <li><%= link_to  t("standard") , "/#{@locale}/standard.html" %></li>
      </ul>

      <div class="divider"></div>
    
      <%["fi" , "en" , "se" , "de"].each do |lang| %>
        <a href="<%="/#{lang}#{this_page}"%>" <%="class='selected'" if lang == @locale%>>  
          <img src="/images/<%=lang.to_s%>.gif"/> </a>
      <%end%>

      <h3>
        <a href="/<%=@locale%>/news.html">  <span><%=t("news")%></span> </a>
      </h3>
      <div id="news"> 
        <a href="/<%=@locale%>/news.html"> 
          <%= t(t("last"))[0..200]%> 
        </a>
      </div>
      <div class="divider"></div>
    </div>

  </div>

  <div id="rcol">
    <div id="rcontent">

      <%= yield %>

      <div class="divider"></div>
  </div>

</div>

<div id="footer">
  <div class="kolmas">
    <b>Villa Taika</b>, Fiskarsintie 513, Antskog
    <br>
    www.villataika.fi&nbsp;&nbsp;&nbsp;info(at)villataika.fi
  </div>
  <div class="kolmas">
    Raisa Kaipainen &amp; Torsten Rüger
    <br>
    puh 040 704 6689
  </div>
  <div class="kolmas">
    <a href="/<%=@locale%>/index.html">
    <img alt="" src="/kuvat/logo_pien.gif" border="0" height="33" width="198">
    </a>
  </div>
</div>

</body>
</html>
